<h1>Listing places</h1>

<%= paginate @places %>

<table>
  <tr>
    <th>ID</th>
    <th>式場名</th>
    <th>登録日</th>
    <th>更新日</th>
    <th>店舗情報</th>
  </tr>
<% @places.each do |place| %>
  <tr>
    <td><%= place.id %></td>
    <td><%= link_to place.name, edit_operation_place_path(place) %>（<%= link_to '確認', operation_place_path(place) %>）</td>
    <td><%= place.reg_datetime %></td>
    <td><%= place.mod_datetime %></td>
    <td>
<% if place.client %>
<%= link_to place.client.name, operation_client_path(place.client) %>
<% else %>
店舗未設定
<% end %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @places %>

<br />

<%#= link_to 'New Place', new_place_path %>
