<!DOCTYPE html>
<html>
<head>
  <title>ふたりのウェディング審査画面</title>
  <%= stylesheet_link_tag    "operation", :media => "all" %>
  <%= javascript_include_tag "operation" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div>
<% if user_signed_in? %>
<%= current_user.login_name %>さん / 
<%= link_to "ログアウト", destroy_user_session_path, :method => 'delete' %>
<%= link_to "ユーザ情報の編集", edit_user_registration_path %>
<% else %>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "登録", new_user_registration_path %>
<% end %>
</div>        

<h1><%= link_to 'ふたりのウェディング審査画面', '/operation/' %></h1>

<div id="">
<dl>
  <dt><%= link_to "法人企業", operation_corporations_path =%></dt>
  <dd>企業情報の編集や法人ユーザの発行等が行えます。</dd>
  <dt><%= link_to "店舗情報", operation_clients_path =%></dt>
  <dd>店舗のアレコレ</dd>
  <dt><%= link_to "式場", operation_places_path =%></dt>
  <dd>式場情報の追加、編集などが行えます。</dd>
</dl>
</div>

<%= yield %>

</body>
</html>
